# VS Code
.vscode

# I/O test cases
a.txt
input.txt
output.txt

# Build outputs
a.out
a.exe
a.jar
a.exp
a.lib
a.pdb
test.class

# Python
__pycache__
venv

# In-progress solutions
wip
_wip
test.cc
test.py
test.kt
test.js
test2.py
test.java
_work/
